form {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.btn {
  border: transparent;
  width: 100px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  padding: 16px 10px;
  transition: background-color 0.3s ease-in-out;
  border-left: none;
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
  letter-spacing: 0.05em;
}
.btn:hover {
  background-color: rgba(43, 46, 46, 0.829);
  border-left: none;
}
.input {
  border-top: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: transparent;
  padding: 15px 10px;
  border: 1px solid rgba(8, 8, 8, 0.479);
  border-right-style: none;
}
.input:focus {
  border-color: black;
}
